<template>
    <div>
        <Header :isScroll="state.isWrap"/>
        {{ $t("home.title") }}
        <div v-loading="state.loading" class="loading"></div>
    </div>
</template>

<script setup lang="ts">
import {reactive ,ref} from 'vue'
import Header from '../Main/component/header.vue'
import {ElLoading} from 'element-plus';
import { useI18n } from 'vue-i18n'
const  t  = useI18n()
// t.locale.value ='en'                    ///---------->这里可以设置进行手动去切换语言

const state = reactive({
    isWrap: false,
    loading: true
})
</script>

<style lang="less" scoped>
.loading{
    width:100%;
    height: 100%;
}
</style>