<template>
    <div class="editBox">
        <codeMirror />
    </div>
</template>

<script lang="ts" setup>
import codeMirror from '@/components/codeMirror.vue';
</script>
<style scoped lang="less">
.editBox{
    width: 100%;
    height: 100%;
}
</style>