<template>
    <div class="testBtn" @click="toConfigTestPage">
        调试按钮
    </div>
</template>

<script setup lang="ts">
import  {useRouter}  from 'vue-router';
const router = useRouter()
const toConfigTestPage = () => {
    router.push('/configTest')
}

</script>

<style lang="less" scoped>
    .testBtn {
        position: fixed;
        top: 4rem;
        left: 0rem;
        width: 0.8rem;
        height: 0.4rem;
        background-color: rgb(128, 128, 128);
        font-size: 0.16rem;
        border-radius:0 0.05rem 0.05rem 0;
        text-align: center;
        line-height: 0.4rem;
        cursor: pointer;
        z-index: 15;
    }
</style>