<template>
    <div class="container" id="container"></div>
</template>


<script setup lang="ts">
import { reactive , onMounted} from 'vue';
import Test from '../../ThreeModules/Test';
import {onBeforeRouteLeave } from 'vue-router'

interface State{
    Test: Test | null,
} 
const state:State = reactive({
    Test: null,
})

onMounted(() => {
    state.Test = new Test();
    window.onresize = ()=>{
        state.Test!.onWindowResize();
    }
}); 

onBeforeRouteLeave(()=>{
    state.Test?.cleanup()
    state.Test?.removeGUI()
    return true
})
</script>

<style lang="less" scoped>
.container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    pointer-events: all;
}
</style>