<template>
    <div id="app_pc">
		<div id="container_pc" onmouseover="this.style.cursor='hand'" onmouseout="this.style.cursor='auto'" ref="roamContainer"> 
		</div>
        <div id="instructions">
            <div>鼠标单击开始漫游</div>
            <div>(W, A, S, D = 移动, SPACE(空格键) = 跳跃, R = 开关碰撞检测,  MOUSE(鼠标) = 控制方向)</div>
        </div>
		<div id="myGui"></div>
		<span class="myText">漫游模式已打开,按R键切换</span>
	</div>	
</template>

<script lang="ts" setup>
import {ref,reactive,onMounted,onBeforeUnmount} from 'vue'
import {onBeforeRouteLeave } from 'vue-router'
import Roam from '../../ThreeModules/Roam/index';

const roamContainer = ref<HTMLElement|null>(null)
interface State{
    roam: Roam | null,
}
const state:State = reactive({
    roam: null,
})

onMounted(()=>{
    state.roam = new Roam()
    window.onresize = ()=>{
        state.roam!.onWindowResize();
    }
})
onBeforeUnmount(()=>{
     console.log('unmounted')
})
onBeforeRouteLeave(()=>{
    /*
    * =>    建议用这种形式进行清空数据操作
    */
    state.roam?.cleanup()
    state.roam?.removeGUI()
    return true
})
</script>

<style lang="less" scoped>
#app_pc{
    width: 100%;
    height: 100%;
    position: relative;
    #instructions{
        font-family: STXinwei;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.2rem;
        font-weight: bold;
        div:nth-child(1){
            font-size: 0.4rem;
        }
    }
    .myText{
        position: absolute;
        top: 0.5em;
        left: 0.1rem;
        width: 0.8rem;
        height: auto;
        color: #000000;
        font-size: 0.13rem;
        font-weight: bold;
    }
}


</style>