<template>
    <div class="House" ref="houseContainer">
    </div>
</template>

<script lang="ts" setup>
import {ref,reactive,onMounted,onBeforeUnmount} from 'vue'
import House from '../../ThreeModules/House/index';
import { ViewHelper } from '../../lib/ViewHelper';
import { pageStatusStore } from '../../store/pageStatus';
const MainPage = pageStatusStore()

const houseContainer = ref<HTMLElement|null>(null)
interface State{
    house: House | null,
}
const state:State = reactive({
    house: null,
})

onMounted(()=>{
    state.house = new House()
    houseContainer.value!.appendChild(state.house.render.domElement)
    state.house.helper = new ViewHelper(state.house.camera, state.house.render,"bottom-right");
    state.house.helper.setControls(state.house.controls);
    window.onresize = ()=>{
        state.house!.onWindowResize();
        state.house!.helper!.update()
    }
})
onBeforeUnmount(()=>{
    setTimeout(()=>{
        state.house!.cleanup()
        state.house?.removeGUI()
        MainPage.modelLoadingStatus = false
    })
    
})
</script>

<style lang="less" scoped>
.House{
    width: 100%;
    height:100vh;
    overflow: hidden;
    pointer-events: all;
}
</style>