<template>
    <div class="RegisterPanel" ref="registerpanel">
        <div class="toLoginPanel" @click="toLoginPanel">
            <Back /><p>返回登录</p>
        </div>
        <div class="RegisterForm">
            <h2>Register</h2>
            <form>
                <div class="item">
                    <input type="text" v-model="registerForm.username" required autocomplete="">
                    <label for="">用户名</label>
                </div>
                <div class="item">
                    <input type="password" v-model="registerForm.password" required autocomplete="">
                    <label for="">密码</label>
                </div>
                <div class="item">
                    <input type="password" v-model="registerForm.checkPass" required autocomplete="">
                    <label for="">确认密码</label>
                </div>
                <div class="item">
                    <input type="text" v-model="registerForm.telphone" required autocomplete="">
                    <label for="">手机号码</label>
                </div>
                <button class="btn" type="button" @click="register">注册
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </form>
        </div>
    </div>
</template>
<script lang="ts" setup>
import {reactive ,ref } from 'vue'
import $ from 'jquery'
import { Back } from "@element-plus/icons-vue";
import {userRegister} from '@/api/user'
const registerpanel:any = ref(null)
const registerForm = reactive({
    username:'',
    password:'',
    checkPass:'',
    telphone:''
})
const register = async () =>{
    let params = {
        username: registerForm.username,
        password: registerForm.password,
        telphone: registerForm.telphone
    }
    let res:any =  await userRegister('/api/register',params)
    console.log(res)
    registerpanel.value.style.left = 400 + 'px'
}
const toLoginPanel = () =>{
    $('.RegisterPanel').animate({
        "left":400
    },200)
}
defineExpose({
    registerpanel,
})
</script>
<style lang="less" scoped>
@import 'Register.less';
</style>