<template>
    <div class="rollToTop" v-show="isShowBtn" @click="rollToTop">
        <Top 
            style="width: 0.3rem;"
        />
    </div>
</template>

<script setup lang="ts">
import { Top } from '@element-plus/icons-vue';
const props = defineProps({
    isShowBtn: {
        type: Boolean,
        default: false
    },
    parentDom: {
        type: Object,
        default: null
    }
})

const rollToTop = async() =>{
    for(let i=10;props.parentDom.scrollTop>0;i+=1){
        props.parentDom.scrollTop -= i
        if (props.parentDom.scrollTop < 0) {
            props.parentDom.scrollTop = 0
        }
        await sleep(0)
    }
}
function sleep(ms:number) {
  return new Promise((resolve) => {
    setTimeout(resolve, ms);
  });
}
</script>

<style lang="less" scoped>
.rollToTop{ 
    position: fixed;
    right: 0.2rem;
    bottom: 0.2rem;
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    background-color: #ffffff;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.rollToTop:hover{
    box-shadow: 0 0 0.1rem 0rem gray;
}
</style>