*{
    // -moz-user-select: none;
    // -webkit-user-select: none;
    // -ms-user-select: none;
    // -khtml-user-select: none;
    // user-select: none;
}
body,html{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
div::selection{
    background: black;
    color: white;
}
span::selection{
    background: black;
    color: white;
}
p::selection{
    background: black;
    color: white;
}
#app{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 5;
    pointer-events: none;
}
#content{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    z-index: 1;
}
.el-message.el-message--warning.is-closable,
.el-message.el-message--success.is-closable,
.el-message.el-message--error.is-closable
{
    width: auto;
    height: 0.4rem;
    padding: 0.05rem;
}
.el-message i:nth-child(1){
    width: 0.3rem;
    height: 0.3rem;
    margin-right: 0.05rem;
}
/* .el-message .el-icon{
    width: 0.3rem;
    height: 0.3rem;
    margin-right: 0.05rem;
} */
.el-message p:nth-child(2){
    padding-right: 0.2rem !important;
    width: max-content;
}
/* .el-message .el-message__content{
    padding-right: 0.2rem;
} */
.el-message i:nth-child(3){
    width: 0.3rem;
    right: 0 !important;
}