.Body{
    position: relative;
    width: 100%;
    height: auto;
    pointer-events: all;
    // background: url('../../../assets/page_bg_img/hero-bg.png');
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-attachment: fixed;
    z-index: 5;
    .Banner-First{
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        padding: 1rem 0 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .mountainLeft{
            font-size: 0.25rem;
            width: 40%;
            height: auto;
            box-sizing: border-box;
            padding:0.2rem 0 0 0.2rem;
            display: flex;
            flex-direction: column;
            .mountainLeft-Info-header{
                color: #012970;
                font-size: 0.46rem;
                font-weight: 600;
            }
            .mountainLeft-Info-body{
                color: black;
                font-size: 0.26rem;
                font-weight: 400;
                word-break: normal;
                box-sizing: border-box;
                padding: 0.1rem 0 0 0;
                // text-indent:2em;
            }
            .mountainLeft-Info-footer{
                width: 2rem;
                height: 0.5rem;
                box-sizing: border-box;
                font-size: 0.16rem;
                margin: 0.3rem auto 0;
                line-height: 0;
                border-radius: 0.04rem;
                transition: 0.5s;
                color: #fff;
                background: #4154f1;
                box-shadow: 0rem 0.05rem 0.3rem rgba(65, 84, 241, 0.4);
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                .linkBtn{
                    text-decoration: none;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .RightIcon{
                    width: 0.3rem;
                    margin-left:0.05rem;
                    transition: all 0.3s ease-in-out;
                }
                .RightIcon.hover{
                    width: 0.3rem;
                    margin-left:0.15rem;
                }
            }
        }
        .mountainRight{
            position: relative;
            width: 40%;
            height: 4rem;
            border-radius: 0.1rem;
            cursor: pointer;
            overflow: hidden;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                scale: 1;
                transition: all 0.3s ease-in-out;
            }
            img:hover{
                scale: 1.1;
            }
        }
    }
    .Banner-Second{
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        padding: 1rem 1.5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        .houseLeft{
            flex: 1;
            height: auto;
            box-sizing: border-box;
            padding: 0 0 0 0.2rem;
            display: flex;
            flex-direction: column;
            padding: 0.4rem ;
            background-color: #f6f9ff;
            .houseLeft-Info-header{
            width: 100%;
                font-size: 0.14rem;
                font-weight: 700;
                color: #4154f1;
                text-transform: uppercase;
            }
            .houseLeft-Info-body{
                font-size: 0.24rem;
                word-break: normal;
                box-sizing: border-box;
                padding: 0.1rem 0 0 0;
                text-indent:2em;
                font-weight: 700;
                color: #012970;
            }
            .houseLeft-Info-leg{
                font-size: 0.16rem;
                font-weight: 400;
                margin: 0.15rem 0 0.3rem 0;
                line-height: 0.24rem;
                font-family: "Open Sans", sans-serif;
                color: #444444;
            }
            .houseLeft-Info-footer{
                width: 2rem;
                height: 0.5rem;
                box-sizing: border-box;
                font-size: 0.16rem;
                margin: 0.3rem 0 0 0;
                line-height: 0;
                border-radius: 0.04rem;
                transition: 0.5s;
                color: #fff;
                background: #4154f1;
                box-shadow: 0rem 0.05rem 0.3rem rgba(65, 84, 241, 0.4);
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                .RightIcon{
                    width: 0.3rem;
                    margin-left:0.05rem;
                    transition: all 0.3s ease-in-out;
                }
                .RightIcon.hover{
                    width: 0.3rem;
                    margin-left:0.15rem;
                }
            }
        }
        .houseRight{
            width: 7.1rem;
            height: auto;
            cursor: pointer;
            border-radius: 0.1rem;
        }
    }
    .Banner-Insert{
        width: 100%;
        height: 50vh;
        box-sizing: border-box;
        padding: 0rem 1.5rem 1rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        .insertLeft{
            width: 40%;
            height: auto;
            cursor: pointer;
            border-radius: 0.1rem;
            display: flex;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                transition: all 0.3s ease-in-out;
            }
            img:hover{
                scale:1.1;
            }
        }
        .insertRight{
            flex: 1;
            height: auto;
            box-sizing: border-box;
            padding: 0 0 0 0.2rem;
            display: flex;
            flex-direction: column;
            padding: 0.4rem ;
            background-color: #f6f9ff;
            .title{
                width: 100%;
                font-size: 0.14rem;
                font-weight: 700;
                color: #4154f1;
                text-transform: uppercase;
            }
            .contentEN{
                font-size: 0.24rem;
                word-break: normal;
                box-sizing: border-box;
                padding: 0.1rem 0 0 0;
                text-indent: 2em;
                font-weight: 700;
                color: #012970;
            }
            .contentZH{
                font-size: 0.16rem;
                font-weight: 400;
                margin: 0.15rem 0 0.3rem 0;
                line-height: 0.24rem;
                font-family: "Open Sans", sans-serif;
                color: #444444;
            }
        }
    }
    .Banner-Third{
        width: 100%;
        height: 90vh;
        box-sizing: border-box;
        padding: 0rem 1.5rem;
        display: flex;
        background-color: white;
        flex-direction: column;
        .header{
            width: 100%;
            height: 0.7rem;
            h2{
                font-size: 0.13rem;
                letter-spacing: 0.01rem;
                font-weight: 700;
                margin: 0;
                color: #4154f1;
                text-transform: uppercase;
                text-align: center;
            }
            p{
                width: 100%;
                margin: 0.1rem 0 0 0;
                padding: 0;
                font-size: 0.38rem;
                line-height: 0.42rem;
                font-weight: 700;
                color: #012970;
                text-align: center;
            }
        }
        .body{
            width: 100%;
            flex: 1;
            box-sizing: border-box;
            padding: 1.2rem 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .item{
                flex: 1;
                height: auto;
                box-sizing: border-box;
                padding: 0.3rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                box-shadow: 0rem 0 0.05rem rgba(1, 41, 112, 0.08);
                .img{
                    position: relative;
                    width: 100%;
                    // flex: 0 0 70%;
                    height: 3.1rem;
                    border-radius: 0.1rem;
                    display: flex;
                    justify-content: center;
                    img{
                        position: absolute;
                        width: auto;
                        height: 100%;
                        scale: 1;
                        transition: all 0.3s ease-in-out;
                    }
                }
                .img:hover{
                    img{
                        scale: 0.9;
                    }
                }
                .content{
                    width: 100%;
                    // flex: 0 0 30%;
                    height: 1.3rem;
                    h3{
                        font-size: 0.24rem;
                        color: #012970;
                        font-weight: 700;
                        margin-bottom: 0.18rem;
                        text-align: center;
                    }
                    p{
                        font-size: 0.16rem;
                        margin-top: 0;
                        text-align: center;
                    }
                }
            }
            .item:nth-child(2){
                margin: 0 0.1rem;
            }
        }
        
    }
    .Banner-Fourth{
        width: 100%;
        height: auto;
        box-sizing: border-box;
        padding: 0rem 1.5rem;
        display: flex;
        flex-direction: column;
        background-color: white;
        .header{
            width: 100%;
            height: 0.7rem;
            h2{
                font-size: 0.13rem;
                letter-spacing: 0.01rem;
                font-weight: 700;
                margin: 0;
                color: #4154f1;
                text-transform: uppercase;
                text-align: center;
            }
        }
        .body{
            width: 100%;
            height: auto;
            display: flex;
            box-sizing: border-box;
            padding: 0 1rem 1rem 1rem;
            .left{
                width: 6.6rem;
                height: 4.5rem;
                box-sizing: border-box;
                padding: 0.24rem 0 0;
                display: grid;
                grid-template-columns: repeat(auto-fill,3.3rem);
                grid-template-rows: repeat(auto-fill,2.25rem);
                .item{
                    box-sizing: border-box;
                    padding:0 0.12rem;
                    margin-top:0.24rem;
                    .content{
                        width: 100%;
                        height: 100%;
                        box-sizing: border-box;
                        padding: 0.3rem;
                        display: flex;
                        flex-direction: column;
                        background: #fafbff;
                        .icon{
                            width: 0.38rem;
                            height: 0.38rem;
                            color: #4154f1;
                        }
                        h3{
                            font-size: 0.2rem;
                            margin: 0.2rem 0 0.1rem;
                            color: #012970;
                            font-weight: 700;
                        }
                        p{
                            margin-top: 0;
                            padding: 0;
                            line-height: 0.24rem;
                            font-size: 0.14rem;
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .right{
                flex:1;
                height: 4.5rem;
                margin-left: 0.24rem;
                box-sizing: border-box;
                padding: 0.48rem 0 0 ;
                .content{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    box-sizing: border-box;
                    padding: 0.3rem;
                    background: #fafbff;
                    .userInfo{
                        width: 100%;
                        height: 0.45rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .userName,.userEmail{
                            flex: 1;
                            height: 100%;
                            box-sizing: border-box;
                            padding: 0 0.12rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .el-input{
                                height: 100%;
                            }
                        }
                    }
                    .Aim{
                        width: 100%;
                        height: 0.45rem;
                        margin-top: 0.2rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        box-sizing: border-box;
                        padding: 0 0.12rem;
                        .el-input{
                            height: 100%;
                        }
                    }
                    .message{
                        width: 100%;
                        height: auto;
                        margin-top: 0.2rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        box-sizing: border-box;
                        padding: 0 0.12rem;
                        .el-input{
                            height: 100%;
                        }
                    }
                    .submit{
                        width: 1rem;
                        border: 0;
                        padding: 0.1rem 0.3rem;
                        color: #fff;
                        transition: 0.4s;
                        border-radius: 0.04rem;
                        font-size: 0.16rem;
                        background: #5969f3;
                        text-align: center;
                        cursor: pointer;
                        margin: 0.5rem auto;
                    }
                }
            }
        }
    }
}