<template>
    <div class="loginContainer">
        <div class="loginBox">
            <div class="toRegister">还没账号？<span @click="toRegisterPanel">去注册</span></div>
            <h2>login</h2>
            <form>
                <div class="item">
                    <input type="text" v-model="state.username" required autocomplete="">
                    <label for="">userName</label>
                </div>
                <div class="item">
                    <input type="password" v-model="state.password" required autocomplete="">
                    <label for="">password</label>
                </div>
                <button class="btn" type="button" @click="Login">登录
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </form>
            <!-- 注册面板 -->
            <Register  ref="getchildpanel"/>
        </div>
    </div>
</template>
<script lang="ts" setup>
import {reactive ,ref ,onMounted} from 'vue'
import {useRouter} from 'vue-router'
import $ from 'jquery'
import Register from '../Register/Register.vue'
import { userLogin } from '@/api/user'
import { loginStatusStore } from '@/store/loginStatus';
const userStatus = loginStatusStore()
const router = useRouter()
const getchildpanel:any =ref(null)
onMounted(()=>{
    state.fromRoute = router.options.history.state.back as string
})
const state = reactive({
    username: '',
    password: '',
    fromRoute:''
})
const toRegisterPanel = () => {
    $('.RegisterPanel').animate({
        "left":0
    },200)
}
const Login = async (): Promise<void> =>  {
    let params = {
        username: state.username,
        password: state.password
    }
    let res:any = await userLogin('/api/login',params)
    if(res.code === '1'){
        userStatus.isLogin = true
        userStatus.username = res.data[0].username
        userStatus.role = res.data[0].role
        router.push(state.fromRoute)
    }else{
        return
    }
    
}
</script>
<style lang="less" scoped>
@import 'Login.less';
</style>