<template>
    <div class="Body">
        <div class="Banner-First">
            <div class="mountainLeft">
                <div class="mountainLeft-Info-header">
                    <!-- We offer modern solutions for growing your business -->
                    {{ $t("body.bannerFirst.header") }}
                </div>
                <div class="mountainLeft-Info-body">
                    <!-- We are team of talented designers making websites with Smart Digital City -->
                    {{ $t("body.bannerFirst.body") }}
                </div>
                <div class="mountainLeft-Info-footer"
                    @mouseenter="enterrMontainStarted"
                    @mouseleave="leaveMountainStarted"
                >
                    <router-link to="/mountain" class="linkBtn">
                        {{ $t("body.bannerFirst.start") }}
                        <Right
                            :class="state.isHoverMountainStartBtn ? 'RightIcon hover' : 'RightIcon'"
                        />
                    </router-link>
                </div>
            </div>
            <div class="mountainRight">
                <img src="../../../assets/page_bg_img/Mountain.png" alt="智慧展" @click="viewMountainCase"/>
            </div>
        </div>
        <div class="Banner-Second">
             <div class="houseLeft">
                <div class="houseLeft-Info-header">
                    <!-- What Can We Do -->
                    {{ $t("body.bannerSecond.header") }}
                </div>
                <div class="houseLeft-Info-body">
                    <!-- ThreeJS is now a leading front-end 3d construction tool that can quickly implement 3D projects with good performance. 
                    Our aim is to help users build and realize businesses in their respective fields. -->
                    {{ $t("body.bannerSecond.body") }}
                </div>
                <div class="houseLeft-Info-leg">
                    <!-- ThreeJS现在是领先的前端3D构建工具，可以快速实现性能良好的3D项目。
                     我们的目标是帮助用户在各自领域建立和实现业务。 -->
                    {{ $t("body.bannerSecond.leg") }}
                </div>
                <div class="houseLeft-Info-footer"
                    @mouseenter="enterrMontainStarted"
                    @mouseleave="leaveMountainStarted"
                    @click="aboutUs"
                >
                    <!-- Read More -->
                    {{ $t("body.bannerSecond.readMore") }}
                    <Right
                        :class="state.isHoverMountainStartBtn ? 'RightIcon hover' : 'RightIcon'"
                    />
                </div>
            </div>
            <img class="houseRight" src="../../../assets/page_bg_img/about.jpg" alt="关于我们" @click="viewHouseCase">
        </div>
        <div class="Banner-Insert">
            <div class="insertLeft">
                <img src="../../../assets/page_bg_img/roam.png" alt="" @click="toRoam">
            </div>
            <div class="insertRight">
                <div class="title">
                    <!-- Roam your operational inspirations -->
                    {{ $t("body.bannerInsert.title") }}
                </div>
                <div class="contentEN">
                    <!-- You can freely control the keyboard and mouse to move your perspective within existing scenes,  
                    allowing you to have a 360-degree panoramic view of the internal environment and surrounding surroundings. 
                    This aims to  further advance towards the path of metaverse-like experiences! -->
                    {{ $t("body.bannerInsert.contentEN") }}
                </div>
                <div class="contentZH">
                    <!-- 你可以在已存在的场景中，通过控制键鼠去自由移动你的视角，360°全方位观看内部场景以及周围环境。旨在朝类元宇宙赛道的继续进军！ -->
                    {{ $t("body.bannerInsert.contentZH") }}
                </div>
            </div>
        </div>
        <div class="Banner-Third">
            <div class="header">
                <h2>
                    <!-- Our Value -->
                    {{ $t("body.bannerThird.title1") }}
                </h2>
                <p>
                    <!-- Odit est perspiciatis laborum et dicta -->
                    {{ $t("body.bannerThird.title2") }}
                </p>
            </div>
            <div class="body">
                <div class="item" v-for="(item,index) in state.advantage" :key="index" @click="toProductDetails(index)">
                    <div class="img">
                        <img :src="item.img" alt="">
                    </div>
                    <div class="content">
                        <h3>{{ $t(item.title) }}</h3>
                        <p>
                            {{ $t(item.content) }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="Banner-Fourth">
            <div class="header">
                <h2>CONTACT US</h2>
            </div>
            <div class="body">
                <div class="left">
                    <div class="item" v-for="(item,index) in state.contactLeft" :key="index">
                        <div class="content">
                            <Location v-if="item.icon === 'Location'" class="icon" />
                            <Phone  v-if="item.icon === 'Phone'" class="icon" />
                            <Message  v-if="item.icon === 'Message'" class="icon" />
                            <Timer  v-if="item.icon === 'Timer'" class="icon" />
                            <h3>{{ $t(item.title) }}</h3>
                            <p>
                                {{ $t(item.tip1) }}
                                <br>
                                {{ $t(item.tip2) }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="content">
                        <div class="userInfo">
                            <div class="userName">
                                <ElInput
                                    type="text"
                                    :placeholder="$t('body.bannerFourth.sendCustomName')"
                                    v-model="state.username"
                                />
                            </div>
                            <div class="userEmail">
                                <ElInput
                                    :placeholder="$t('body.bannerFourth.sendCustomEmail')"
                                    v-model="state.useremail"
                                />
                            </div>
                        </div>
                        <div class="Aim">
                            <ElInput
                                :placeholder="$t('body.bannerFourth.sendCustomTheme')"
                                v-model="state.aims"
                            />
                        </div>
                        <div class="message">
                            <ElInput 
                                v-model="state.userMessage"
                                :autosize="{ minRows: 4, maxRows: 6 }"
                                type="textarea"
                                :placeholder="$t('body.bannerFourth.sendCustomContent')"
                            />
                        </div>
                        <div class="submit">{{ $t('body.bannerFourth.submit') }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts" setup>
import {reactive ,ref ,onMounted,onBeforeUnmount} from 'vue'
import  {useRouter}  from 'vue-router';
import { Right } from '@element-plus/icons-vue';
import v1 from '../../../assets/page_bg_img/values-1.png'
import v2 from '../../../assets/page_bg_img/values-2.png'
import v3 from '../../../assets/page_bg_img/values-3.png'
import { Location ,Phone ,Message ,Timer } from '@element-plus/icons-vue';
import { ElInput } from 'element-plus';
const router = useRouter()
const state = reactive({
    isHoverMountainStartBtn: false,
    advantage:[
        {
            index:0,
            img:v1,
            title:'body.bannerThird.body.v1.title',
            content:'body.bannerThird.body.v1.content'
        },
        {
            index:1,
            img:v2,
            title:'body.bannerThird.body.v2.title',
            content:'body.bannerThird.body.v2.content'
        },
        {
            index:2,
            img:v3,
            title:'body.bannerThird.body.v3.title',
            content:'body.bannerThird.body.v3.content'
        }
    ],
    contactLeft:[
        {
            icon: 'Location',
            title:'body.bannerFourth.location.title',
            tip1:'body.bannerFourth.location.tip1',
            tip2:'body.bannerFourth.location.tip2'
        },
        {
            icon:'Phone',
            title:'body.bannerFourth.phone.title',
            tip1:'body.bannerFourth.phone.tip1',
            tip2:'body.bannerFourth.phone.tip2'
        },
        {
            icon:'Message',
            title:'body.bannerFourth.message.title',
            tip1:'body.bannerFourth.message.tip1',
            tip2:'body.bannerFourth.message.tip2'
        },
        {
            icon:'Timer',
            title:'body.bannerFourth.timer.title',
            tip1:'body.bannerFourth.timer.tip1',
            tip2:'body.bannerFourth.timer.tip2'
        }
    ],
    username:'',
    useremail:'',
    aims:'',
    userMessage:''
})
const viewMountainCase = () =>{
    router.push({path:'/mountain'})
}
const viewHouseCase = () =>{
    router.push('/house')
}
const enterrMontainStarted = () =>{
    state.isHoverMountainStartBtn = true
}
const leaveMountainStarted = () =>{
    state.isHoverMountainStartBtn = false
}
const aboutUs = () =>{
    router.push('/about')
}
const toRoam = () =>{
    router.push('/roam')
}
const toProductDetails = (index:number) => {
    switch(index){
        case 0:
            window.open('http://stoilet.oslo.net.cn/#/','_blank')
            break;
        default:
            break;
    }
}
</script>

<style lang="less" scoped>
@import url('../style/body.less');
</style>