<template>
    <div class="copyright">
        <div class="content">
            <p>© Copyright ThreeCloud. All Rights Reserved</p>
            <div>Designed by ThreeCloud</div>
        </div>
    </div>
</template>

<script lang="ts" setup>

</script>

<style scoped lang="less">
.copyright{
    width: 100%;
    height: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2e2e2;
    .content{
        width: auto;
        height: auto;
        p{
            margin: 0;
            font-size: 0.16rem ; 
        }
        div{
            font-size: 0.16rem ;
            text-align: center;
        }
    }
}
</style>