<template>
    <div class="footer">
        <div class="left">
            <h2>
                <Histogram
                    style="width: 0.35rem;height:0.35rem;rotate: 90deg;"
                />
                <!-- 思瑞 -->
                {{ $t('footer.Name')  }}
            </h2>
            <p>
                <!-- Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna
                 derita valies darta donna mare fermentum iaculis eu non diam phasellus. -->
                    {{ $t('footer.Intro')  }}
            </p>
        </div>
        <div class="right">
            <div class="item">
                <span>
                    <!-- USEFUL LINKS -->
                    {{ $t('footer.userfulLink')  }}
                </span>
                <div class="content">
                    <div><ArrowRight class="icon" />
                        <!-- 主页 -->
                        {{ $t('footer.homepage')  }}
                    </div>
                    <div><ArrowRight class="icon" />
                        <!-- 关于我们 -->
                        {{ $t('footer.aboutus')  }}
                    </div>
                    <div><ArrowRight class="icon" />
                        <!-- 服务 -->
                        {{ $t('footer.service')  }}
                    </div>
                    <div><ArrowRight class="icon" />
                        <!-- 隐私政策 -->
                        {{ $t('footer.privacy')  }}
                    </div>
                </div>
            </div>
            <div class="item">
                <span>OUR SERVICES</span>
                <div class="content">
                    <div><ArrowRight class="icon" />
                        <!-- 网站系统定制开发 -->
                        {{ $t('footer.webSystemDevelopment')  }}
                    </div>
                    <div><ArrowRight class="icon" />
                        <!-- ThreeJs定制开发 -->
                        {{ $t('footer.threeJsDevelopment')  }}
                    </div>
                    <div><ArrowRight class="icon" />
                        <!-- 元宇宙开发 -->
                        {{ $t('footer.metacosmicDevelopment')  }}
                    </div>
                    <div><ArrowRight class="icon" />
                        <!-- 3D会展开发 -->
                        {{ $t('footer.exhibition')  }}
                    </div>
                    <div><ArrowRight class="icon" />
                        <!-- 数字孪生 -->
                        {{ $t('footer.digitalTwin')  }}
                    </div>
                </div>
            </div>
            <div class="item">
                <span>
                    <!-- CONTACT US -->
                    {{ $t('footer.contactUs')  }}
                </span>
                <div class="content">
                    <div>
                        <!-- 上城区 -->
                        {{ $t('footer.location')  }}
                    </div>
                    <div>
                        <!-- 杭州 -->
                        {{ $t('footer.city')  }}
                    </div>
                    <div>
                        <!-- 浙江 -->
                        {{ $t('footer.province')  }}
                    </div>
                    <div class="itemInfo">
                        <div class="item">
                            <div class="info">
                                <span>
                                    <!-- Phone: -->
                                    {{ $t('footer.phone')  }}:
                                </span>+8618856635670
                            </div>
                            <div class="info">
                                <span>
                                    <!-- Email: -->
                                    {{ $t('footer.email')  }}:
                                </span>468133459@qq.com
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import { Histogram, ArrowRight, Phone } from '@element-plus/icons-vue';
</script>

<style scoped lang="less">
.footer{
    width: 100%;
    height: 3.2rem;
    background-color: #f6f9ff;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0.6rem 2.5rem;
    .left{
        width: 5.5rem;
        height: 2rem;
        h2{
            font-size: 0.3rem;
            font-weight: 600;
            color: #717ff5;
            text-decoration: none;
            display: flex;
            align-items: center;
        }
        p{
            font-size: 0.14rem;
            line-height: 0.24rem;
            margin-bottom: 0;
            font-family: "Nunito", sans-serif;
        }
    }
    .right{
        flex: 1;
        height: 100%;
        background: url('../../../assets//page_bg_img/footer-bg.png');
        background-size: contain;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .item{
            flex: 1;
            height: 100%;
            display: flex;
            flex-direction: column;
            span{
                font-size: 0.16rem;
                font-weight: bold;
                color: #012970;
                text-transform: uppercase;
                position: relative;
                padding-bottom: 0.12rem;
            }
            .content{
                width: 100%;
                flex: 1;
                div{
                    height: auto;
                    color: #013289;
                    transition: 0.3s;
                    line-height: 17px;
                    font-size: 0.14rem;
                    margin-bottom: 0.1rem;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    .icon{
                        width: 0.15rem;
                        height: 0.15rem;
                    }
                }
                .itemInfo{
                    margin-top: 0.3rem;
                    width: 100%;
                    height: auto;
                    user-select: all;
                    .item{
                        width: auto;
                        height: auto;
                        .info{
                            width: 100%;
                            font-size: 0.15rem;
                            color: gray;
                            span{
                                font-size: 0.16rem;
                                font-weight: 700;
                                color: black;
                                margin-right: 0.05rem;
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
</style>