<template>
    <div 
        :class="state.isScroll ? 'Header isScroll' : 'Header'"
    >
        <div class="Header-InnerBox">
            <div class="Left-Icon">
                <img :src="state.logo" alt="logo">
                <p>
                    <!-- 这里是我的名字 -->
                    {{ $t('header.firstLevel.officeName') }}
                </p>
            </div>
            <div class="Right-Info">
                <div class="Tip-Item" 
                    v-for="(item,index) in state.headerNavTips" 
                    :key="index" 
                    @mouseover="bntForShowPanel(item)"
                >
                    <div class="fa-item">
                        {{ $t(item.name) }}
                    </div>
                </div>
            </div>
            <div class="loginStatus" @mouseover="state.isShowDetailsPanels =false">
                <div class="login" 
                    v-if="!userStatus.isLogin"
                    @click="asyncLogin"
                >
                    Login
                </div>
                <div class="isLogin" v-else>
                    {{ userStatus.username }}
                    <div class="loginConfigPanel">
                        <div class="item" @click="goDeveloper" v-if="userStatus.role === 'admin' ">开发者</div>
                        <div class="item" @click="loginOut">退出登录</div>
                    </div>
                </div>
            </div>
            <div class="langSwitch" @click="switchLanguage">
                <img :src="zh" alt="中文" v-show="state.platformLanguage == 'zh'">
                <img :src="en" alt="英文" v-show="state.platformLanguage == 'en'">
            </div>
        </div>
        <div 
            :class="state.isShowDetailsPanels ? 'Show-DetailsPanels active' : 'Show-DetailsPanels'"
            @mouseenter="state.isShowDetailsPanels = true"
            @mouseleave="state.isShowDetailsPanels = false"
        >
            <div class="content">
                <div class="item" v-for="(item,index) in state.renderToPanel" :key="index">
                    <span>{{ $t(item.name) }}</span>
                </div>
            </div>
        </div>
    </div>
</template>
<script lang="ts" setup>
import {reactive ,watch} from 'vue'
import logo from '../../../assets/page_bg_img/logo.jpg'
import { loginStatusStore } from '../../../store/loginStatus';
import { pageStatusStore } from '../../../store/pageStatus';
import {useRouter} from 'vue-router'
import zh from '@/assets/lang/中文.svg'
import en from '@/assets/lang/英文.svg'
import { useI18n } from 'vue-i18n'

const emits = defineEmits(['configTest'])

const  initUseI18  = useI18n()

const router = useRouter()
const userStatus = loginStatusStore()
const pageStatus = pageStatusStore()

interface State {
    logo:string,
    headerNavTips:{
        index:number,
        name:string,
        children:{
            index:number,
            name:string
        }[]
    }[],
    isScroll:boolean,
    isShowDetailsPanels:boolean,
    renderToPanel:{
        index:number,
        name:string
    }[],
    platformLanguage:string,
}
const props = defineProps({
    isScroll: {
        type: Boolean,
        default: false,
        required: false
    }
})
const state:State = reactive({
    logo:logo,
    headerNavTips:[
        {
            index:0,
            name:'header.firstLevel.home',
            children:[]
        },
        {
            index:1,
            name:'header.firstLevel.solution',
            children:[
                {
                    index:0,
                    name:'header.secondLevel.solution.metaverse'
                },
                {
                    index:1,
                    name:'header.secondLevel.solution.digitalCity'
                },
                {
                    index:2,
                    name:'header.secondLevel.solution.digitalTwin'
                },
                {
                    index:3,
                    name:'header.secondLevel.solution.tdExhibition'
                },
                {
                    index:4,
                    name:'header.secondLevel.solution.digitalMuseum'
                },
                {
                    index:5,
                    name:'header.secondLevel.solution.systemCustomDevelopment'
                }
            ]
        },
        {
            index:2,
            name:'header.firstLevel.productCenter',
            children:[]
        },
        {
            index:3,
            name:'header.firstLevel.serviceSupport',
            children:[
                {
                    index:0,
                    name:'header.secondLevel.serviceSupport.systemDevelopment',
                },
                {
                    index:1,
                    name:'header.secondLevel.serviceSupport.threeJsSystemCustomization',
                },
                {
                    index:0,
                    name:'header.secondLevel.serviceSupport.technicalSupport',
                }
            ]
        },
        {
            index:4,
            name:'header.firstLevel.aboutUs',
            children:[
                {
                    index:0,
                    name:'header.secondLevel.aboutUs.aboutSiRui',
                },
                {
                    index:1,
                    name:'header.secondLevel.aboutUs.corporateCulture',
                },
                {
                    index:2,
                    name:'header.secondLevel.aboutUs.newsEvents',
                },
                {
                    index:3,
                    name:'header.secondLevel.aboutUs.contactUs',
                }
            ]
        }
    ],
    isScroll: false,
    isShowDetailsPanels: false,
    renderToPanel:[],
    platformLanguage: pageStatus.recordPlatformLanguage
})

const bntForShowPanel = (item:{
    index:number,
    name:string,
    children:{
        index:number,
        name:string
    }[]
}):void=>{
    state.isShowDetailsPanels = item.children.length !==0 ? true : false;
    state.renderToPanel = item.children;
}
const asyncLogin = () =>{
    router.push('/login')
}
const goDeveloper = () =>{
    if(userStatus.role === 'admin'){
        router.push('/developer')
    }
}
const loginOut = () =>{
    userStatus.isLogin = false
    userStatus.username = ''
    userStatus.role = ''
    emits('configTest')
    setTimeout(() => {
        localStorage.clear()
    }, 500);
}
const switchLanguage = () =>{
    if(state.platformLanguage == 'zh'){
        state.platformLanguage = 'en'
        initUseI18.locale.value ='en'
        pageStatus.recordPlatformLanguage = 'en' 

    }else{
        state.platformLanguage = 'zh'
        initUseI18.locale.value ='zh' 
        pageStatus.recordPlatformLanguage = 'zh'
    }
}
watch(
    ()=>props.isScroll,(newVal,oldVal)=>{
        state.isScroll = newVal
    }
)
</script>
<style lang="less" scoped>
.Header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: all 0.5s;
    z-index: 997;
    padding: 0.2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    .Header-InnerBox{
        position: relative;
        width: 100%;
        height: 0.44rem;
        box-sizing: border-box;
        padding: 0 4rem 0 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 5;
        .Left-Icon{
            width: auto;
            height: 0.44rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img{
                width: 0.44rem;
                height: 100%;
                border-radius: 50%;
            }
            p{
                margin-left: 0.1rem;
                font-size: 0.3rem;
                font-weight: 700;
                letter-spacing: 0.01rem;
                color: #012970;
                font-family: "Nunito", sans-serif;
                word-break: keep-all;
            }
        }
        .Right-Info{
            width: auto;
            height: 100%;
            display: flex;
            align-items: center;
            .Tip-Item{
                position: relative;
                width: 1rem;
                height: 0.44rem;
                box-sizing: border-box;
                padding: 0.1rem 0;
                cursor: pointer;
                .fa-item{
                    width: 100%;
                    position: relative;
                    font-size: 0.16rem;
                    font-family: "Nunito", sans-serif;
                    font-size: 0.16rem;
                    font-weight: 700;
                    color: #013289;
                    white-space: nowrap;
                    text-align: center;
                }
            }
            .Tip-Item:hover{
                overflow: visible;
                border-radius: 0.04rem;
                .fa-item{
                    color: #b02222;
                }
            }
        }
        .loginStatus{
            position: absolute;
            width: auto;
            height: 0.44rem;
            right: 1rem;
            padding: 0 0.05rem;
            .login{
                width: auto;
                height: 100%;
                color: #013289;
                font-size: 0.18rem;
                line-height: 0.44rem;
                font-weight: 600;
                cursor: pointer;
            }
            .isLogin{
                width: 70px;
                height: 100%;
                color: #013289;
                font-size: 0.18rem;
                line-height: 0.44rem;
                font-weight: 600;
                cursor: pointer;
                text-align: center;
                .loginConfigPanel{
                    display: inline-block;
                    width: auto;
                    height: auto;
                    margin-top: 14px;
                    box-sizing: border-box;
                    padding: 4px 4px;    
                    white-space: nowrap;
                    vertical-align: middle;
                    vertical-align: middle;
                    border-radius: 4px;
                    background-color: white;
                    opacity: 0;
                    transform: translateY(-50%) scaleY(0);
                    transition: all 0.3s;
                    .item{
                        width: 100%;
                        height: 0.3rem;
                        border-radius: 0.04rem;
                        font-size: 0.16rem;
                        box-sizing: border-box;
                        padding: 0 1px;
                        line-height: 0.3rem;
                    }
                }
            }
            .isLogin:hover{
                overflow: visible; 
                .loginConfigPanel{
                    transform: translateY(0) scaleY(1);
                    opacity: 1;
                    .item:hover{
                        background-color: #e5e5e5;
                    }
                }
            }
        }
        .loginStatus:hover{
            color: #000000;
        }
        .langSwitch{
            position: absolute;
            width: 0.6rem;
            height: 0.44rem;
            right: 2rem;
            margin-left: 0.1rem;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .Show-DetailsPanels{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4rem;
        background-color: rgb(255, 255, 255);
        z-index: 4;
        transition: all 0.3s ease-in-out;
        box-sizing: border-box;
        opacity: 0;
        padding: 0.74rem 3rem 0;
        transform: translateY(-50%) scaleY(0);
        transition: all 0.3s;
        .content{
            width: 100%;
            height: auto;
            margin-top: 0.1rem;
            background-color: #ebebeb;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            .item{
                flex: 1;
                visibility: visible;
                width: auto;
                height: 0.4rem;
                span{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: "Nunito", sans-serif;
                    font-size: 0.16rem;
                    font-weight: 700;
                    color: #012970;
                    white-space: nowrap;
                    text-align: center;
                }
            }
        }
    }
    .Show-DetailsPanels.active{
        transition: all 0.3s ease-in-out;
        transform: translateY(0) scaleY(1);
        opacity: 1;
    }
}
.Header.isScroll{
    z-index: 997;
    padding: 0.15rem 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}
</style>